.button{
    border-radius: 10px;
    border-color: transparent;
    display: block;
    font-weight: bold;
    @include form-width();
    font-size: 20px;

    &--sub{
        background-color: gray;
        display: inline-block;
    }

    &--green{
        background-color: #63AF2B;
        color: white;
    }

    &--google{
        background-color: white;
        border-color: gray;
    }
}