.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        font-size: 24px;
        font-weight: 200;

    }
    &__input{
        @include form-width();
        font-size: 20px;
        border-radius: 10px;
    }

    &__link{
        font-weight: bold;
        text-decoration: none;
    }

    &__pass-options{
        @include form-width;
        display: flex;
        justify-content: space-between;
    }

    &__remember{
        display: flex;
        align-items: center; 
        /* 
        justify-content: center;
        */
    }

    &__checkbox{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    &__pass-reset{
        text-decoration: none;
    }
}