@mixin flex-center($direction:row wrap,$justify:center){
    display: flex;
    flex-flow: $direction;
    justify-content: $justify;
}

@mixin form-width(){
    width: 33%;
    padding: 5px;
    margin: 5px;
}

@mixin background-verde(){
    background-color: $latam-color;
}
@mixin background-gris(){
    background-color: #CCCCCC;
}
